{% extends 'base.html'%}
{% block link %}
<link rel="stylesheet" href="/public/static/css/detail.css">
{% endblock %}
{% block main%}
<div class="main">
  <div class="container">
    <div class="box">
      <div class="h">
        <h2 class="title">{{item.name}}</h2>
      </div>
      <div class="c header">
        <div class="figure">
          <img
            src="/public/images/{{item.cover}}"
          />
        </div>
        <div class="con">
          <p class="desc">
            「购机赠价值798元双人定制体检卡；+1月得200G云空间月卡；得2倍米金」一亿像素夜景相机
            / 国内首发骁龙 750G处理器 / 6.67''小孔径全面屏 /
            120Hz六档变速高刷屏 / 全场景AI四摄 / 线性马达 /
            4820mAh+33W闪充 / 立体声双扬声器 / 多功能NFC
          </p>
          <p class="price">{{(item.price/100).toFixed(2)}} 元</p>
          <div class="btns">
            <a href="" class="btn btn-primary">加入购物车</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="box">
      <div class="h">
        <h2 class="title">介绍</h2>
      </div>
      <div class="c">详细</div>
    </div>
  </div>

  <div class="container">
    <div class="box">
      <div class="h">
        <h2 class="title">评论</h2>
      </div>
      <div class="c clearfix">
        <div class="comment-post">
          <form method="post" action="/comment" enctype="application/x-www-form-urlencoded">
            <p>
              <textarea name="content" class="input" rows="5"></textarea>
              <input type="hidden" name="detailId" value="{{item.id}}">
            </p>
            <p>
              <button class="btn btn-primary">提交</button>
            </p>
          </form> 
        </div>
        <div class="comment-list">
          {%for comment in comments%}
          <div class="comment">
            <a href="/comment/user?user_id=424027617" class="avatar" style="background-image:url(https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/cb1bd61ad71c45a4f67f09b075463944.jpeg?thumb=1&w=468&h=1228&f=webp&q=90)"></a>
            <a href="" class="user">zMouse</a>
            <div class="datetime">{{comment.formateDatetime}}</div>
            <div class="content">{{comment.content}}</div>
          </div>
          {%endfor%}
        </div>
        <div class="pagination">
          <a href="">首页</a>
          <a href="">&lt;</a>
          <!-- <a href="" class="current">1</a> -->
          {% for p in range(1,pages+1)%}
            <a href="/detail/{{detailId}}?page={{p}}" class="{%if page==p%}current{%endif%}">{{p}}</a>
          {%endfor%}
          <a href="">&gt;</a>
          <a href="">尾页</a>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock%}
