{% extends "base.html" %}
{% block link%}
<link rel="stylesheet" href="./public/static/css/index.css" />
{% endblock %}
{% block main %}   
<div class="main">
  <div class="container">
    <div class="brick-box">
      <div class="h">
        <h2 class="title">手机</h2>
        <div class="more">
          <a href="">更多</a>
        </div>
      </div>
      <div class="c clearfix">
        <ul class="list clearfix">
          {%for item in items%}
            <li class="item">
              <a href="">
                <div class="figure">
                  <img
                    src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/4e75e528fb468aee107f551179aa0799.jpg?thumb=1&w=400&h=400&f=webp&q=90"
                    alt=""
                  />
                </div>
                <h3 class="title">{{item.name}}</h3>
                <p class="desc">一亿像素夜景相机，120Hz六档变速高刷屏</p>
                <p class="price"><span class="num">{{(item.price/100).toFixed(2)}}</span>元</p>
              </a>
            </li>
          {%endfor%}
        </ul>
      </div>
    </div>

    <div class="brick-box">
      <div class="h">
        <h2 class="title">手机</h2>
        <div class="more">
          <a href="">更多</a>
        </div>
      </div>
      <div class="c clearfix">
        <ul class="list clearfix">
          {%for item in items%}
          <li class="item">
            <a href="">
              <div class="figure">
                <img
                  src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/4e75e528fb468aee107f551179aa0799.jpg?thumb=1&w=400&h=400&f=webp&q=90"
                  alt=""
                />
              </div>
              <h3 class="title">{{item.name}}</h3>
              <p class="desc">一亿像素夜景相机，120Hz六档变速高刷屏</p>
              <p class="price"><span class="num">{{(item.price/100).toFixed(2)}}</span>元</p>
            </a>
          </li>
          {%endfor%}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}