{% extends "base.html" %}
{% block link%}
<link rel="stylesheet" href="./public/static/css/list.css" />
{% endblock %}
{% block main %} 
<div class="main">
  <div class="container">
    <div class="list-box">
      <div class="h">
        <h2 class="title">手机</h2>
      </div>
      <div class="c clearfix">
        <ul class="list clearfix">
          <li class="item">
            <div class="figure">
              <a href="">
                <img
                  src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/2b33944db1a5082d123fca20bc126665.jpg"
                  alt=""
                />
              </a>
            </div>
            <h3 class="title">
              <a href=""> Note 9 Pro </a>
            </h3>
            <p class="desc">一亿像素夜景相机，120Hz六档变速高刷屏</p>
            <p class="price"><span class="num">1599</span>元</p>
          </li>
          <li class="item">
            <div class="figure">
              <a href="">
                <img
                  src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/2b33944db1a5082d123fca20bc126665.jpg"
                  alt=""
                />
              </a>
            </div>
            <h3 class="title">
              <a href=""> Note 9 Pro </a>
            </h3>
            <p class="desc">一亿像素夜景相机，120Hz六档变速高刷屏</p>
            <p class="price"><span class="num">1599</span>元</p>
          </li>
          <li class="item">
            <div class="figure">
              <a href="">
                <img
                  src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/2b33944db1a5082d123fca20bc126665.jpg"
                  alt=""
                />
              </a>
            </div>
            <h3 class="title">
              <a href=""> Note 9 Pro </a>
            </h3>
            <p class="desc">一亿像素夜景相机，120Hz六档变速高刷屏</p>
            <p class="price"><span class="num">1599</span>元</p>
          </li>
          <li class="item">
            <div class="figure">
              <a href="">
                <img
                  src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/2b33944db1a5082d123fca20bc126665.jpg"
                  alt=""
                />
              </a>
            </div>
            <h3 class="title">
              <a href=""> Note 9 Pro </a>
            </h3>
            <p class="desc">一亿像素夜景相机，120Hz六档变速高刷屏</p>
            <p class="price"><span class="num">1599</span>元</p>
          </li>
        </ul>
    </div>
  </div>

  <div class="container">
    <div class="pagination">
          <a href="">首页</a>
          <a href="">&lt;</a>
          <a href="" class="current">1</a>
          <a href="">2</a>
          <a href="">3</a>
          <a href="">4</a>
          <a href="">&gt;</a>
          <a href="">尾页</a>
        </div>
      </div>
  </div>
</div>
{% endblock %}