{% extends 'base.html' %}
{%block link%}
<link rel="stylesheet" href="/public/static/css/user.css" />
{%endblock%}

{%block main%}
<div class="main">

  <div class="container">
    <div class="box clearfix">
      <div class="h">
        <h2 class="title">{{title}}</h2>
      </div>
      
      <div class="sidebar">
        <div class="c">
          <div class="menu-box">
            <h3 class="title">账户管理</h3>
            <ul class="list">
              <li class="active">
                <a href="">个人信息</a>
              </li>
              <li>
                <a href="">修改密码</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="c profile clearfix">
          <div class="avatar-box">
            <div class="avatar-area">
              <div class="avatar-bg" style="background-image: url('/{{avatar}}');"></div>
              <div class="avatar-edit"></div>
            </div>
          </div>
          <div class="info-box">
            <div class="info-list">
              <div class="h">
                <h3>基础资料</h3>
              </div>
              <div class="list">
                <p>
                  <span class="k">姓名：</span>
                  <span class="v">{{user.username}}</span>
                </p>
                <p>
                  <span class="k">性别：</span>
                  <span class="v">男</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <form action="" enctype="multipart/form-data"></form>
</div>

<script>
  // 创建文件类型的input框
  const inputUpload = document.createElement('input')
  inputUpload.type = 'file'
  inputUpload.name = 'avatar'

  // 创建form表单
  const form = document.createElement('form') 
  form.action = '/avatar' 
  form.method = 'post'
  form.enctype = 'multipart/form-data' // 二进制数据
  form.appendChild(inputUpload)

  // 点击头像-触发文件选择事件
  document.querySelector('.avatar-area').onclick = () => {
    inputUpload.click()
  }

  // 选择文件
  inputUpload.onchange = function(e) {
    document.body.appendChild(form)
    form.submit()
  }
</script>
{% endblock%}
